p {
  margin-top: 2px;
  opacity: 0.6;
}

.movie-poster-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 15px;
}

.thumbnail {
  width: 100%; /* Or set a specific width, e.g., 200px */
  padding-top: 150%; /* 3/2 = 1.5 = 150% to achieve a 2:3 ratio */
  position: relative;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.movie-name {
  text-align: left;
}
.no-match-found {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  font-weight: 700;
  opacity: 0.7;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  opacity: 0.7;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
